body {
  margin: 0;
}

.bg-color {
  background-color: #f7f9fc;
}

.pt-color {
  color: #6fbaf8;
}

.wh-box {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
}

.btn-etc {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #6fbaf8;
  border: #6fbaf8;
}

.bar-l {
  border-left: 2px solid lightgray;
}

.bar-b1 {
  border-bottom: 4px solid #6fbaf8;
  font-weight: bold;
}

.bar-b2 {
  border-bottom: 4px solid lightgray;
}

a {
  text-decoration: none;
}

.pill {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 100px;
  padding: 3px 12px 5px 12px;
  margin-right: 2px;
  margin-bottom: 5px;
}

.box-pd {
  padding: 20px;
}